/* Common styles using CSS variables */
:root {
    --text-color: #363434;
    --background-color: #fff;
  }
  
  /* Light mode styles */
  body {
    color: var(--text-color);
    background-color: var(--background-color);
  }
  
  /* Dark mode styles */
  .dark-mode {
    --text-color: #fff;
    --background-color: #333;
  }
  